html
	head
		title Rosario
		link(rel="stylesheet" href="../css/main.css")

	body
		h1 Rosario Luz 
		p Rosales Calle
		p LALALALLALALLA
		h3 waaaaa
		h4 lalalalal
		h5 lolololoo
		h5 lililliytytyt
		br
		p lalalla <span> Rosario </span>

			p ñlala
			